.contenedor {
    max-width: 50%;
    margin: 0 auto;
    background-color: beige;
    border-style: solid;
}

.imagenes {
    display: flex;
    justify-content: center;
}

.imagen {
    display: flex;
    justify-content: center;
}

.body {
    background-color: cadetblue;
}

.imagen1 {
    display: flex;
    justify-content: right;
    align-items: center;
}
